body {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0px;
    background-color: #41a7f5;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
}

.nav-text {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    margin-left: 55px;
}

.nav-text span {
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
}

.div-nav {
    margin-left: 30em;
}

.ul-nav {
    display: flex;
    list-style: none;
    font-family: "Outfit", sans-serif;
}

.ul-nav>a {
    text-decoration: none;
}

.ul-nav>li>a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.ul-nav>li>a:hover {
    color: rgb(9, 216, 244);
    text-transform: uppercase;
}

.li-home {
    padding-right: 60px;
}

.li-about {
    padding-right: 50px;
}

.li-products {
    padding-right: 60px;
}

.li-buildings {
    padding-right: 250px;
}

.warehouse-cards{
    margin-top: 100px;
    gap: 20px;
}
.card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #f0f8ff;
    border: 1px solid #41a7f5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card button {
    background-color: #41a7f5;
    margin-top: 70px;
    margin-left: 600px;
    height: 50px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #1e90ff;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}